{% extends "blog/base.html" %}
{% load blog_tags %}
{% load thumbnail %}
{% load static %}

{% block title %}{{ user.profile.nickname }} 关于我-浮文掠影{% endblock %}

{% block header %}
<div class="about-page">
    {% include "blog/header.html" %}
</div>
{% endblock %}

{% block content %}

<div id="{{ option }}-content">
    <div id="about">
        <h2>
            {% ifequal option "ps" %}
                个人资料
            {% endifequal %}

            {% ifequal option "ra" %}
                最近来访
            {% endifequal %}

            {% ifequal option "rc" %}
                最近评论
            {% endifequal %}

            {% ifequal option "rm" %}
                最近留言
            {% endifequal %}
        </h2>
        <div id="vbar">
            <div class="owner-img">
                <a href='{% url "blog:post_list" user.id %}'>
                {% if user.profile.image %}
                    <img src="{{ user.profile.image|thumbnail_url:'250x250'  }}">
                {% else %}
                    <img src='{% static "blog/img/user_default.jpeg" %}'>
                {% endif %}
                </a>
            </div>
            <div id="time-info">
                <h3>建立时间:{{ user.date_joined | date:"Y-m-d H:i" }}</h3>
                <h3>最近登录:{{ user.last_login | date:"Y-m-d H:i" }}</h3>
                <br/>
                <div id="about-fl-msg">
                    <a href=""><div id="send-message">写信</div></a>
                    {% if auth_user.is_authenticated %}
                    {% is_follower auth_user user as IsFollower %}
                    {% if IsFollower %}
                    <a id="follow-link" href="{% url "blog:edit_follow" user.id %}">
                        <div id="followed">
                            +关注 √
                        </div>
                    </a>

                    {% else %}
                    <a id="follow-link" href="{% url "blog:edit_follow" user.id %}">
                        <div id="follow">
                            +关注
                        </div>
                    </a>
                    {% endif %}
                    {% else %}
                    <a id="follow-after-login" href="{% url "blog:user_login" %}">
                        <div id="follow">
                            +关注
                        </div>
                    </a>
                    {% endif %}
                </div>
                <hr/>
            </div>
            <div id="about-menu">
            <a href="{% url "blog:about" user.id "ps" %}"><div id="personal" {% ifequal option "ps" %}class="select"{% endifequal %}><h2>个人</h2></div></a>
            <a href="{% url "blog:about" user.id "ra" %}"><div id="recent-access" {% ifequal option "ra" %}class="select"{% endifequal %}><h2>来访</h2></div></a>
            <a href="{% url "blog:about" user.id "rc" %}"><div id="recent-comment" {% ifequal option "rc" %}class="select"{% endifequal %}><h2>评论</h2></div></a>
            <a href="{% url "blog:about" user.id "rm" %}"><div id="message" {% ifequal option "rm" %}class="select"{% endifequal %}><h2>留言</h2></div></a>
            </div>
        </div>

        <div id="about-row">
            <div id="abouts-page">
            {% ifequal option "ps" %}
                {% include "blog/about/personal.html" %}
            {% endifequal %}

            {% ifequal option "ra" %}
                {% include "blog/about/recent_access.html" %}
            {% endifequal %}

            {% ifequal option "rc" %}
                {% include "blog/about/recent_comment.html" %}
            {% endifequal %}

            {% ifequal option "rm" %}
                {% include "blog/about/message.html" %}
            {% endifequal %}
            </div>
            {% ifequal option "ra" %}
                {% include "blog/post/pagination.html" with page=ra %}
            {% endifequal %}

            {% ifequal option "rc" %}
                {% include "blog/post/pagination.html" with page=rc %}
            {% endifequal %}

            {% ifequal option "rm" %}
                {% include "blog/post/pagination.html" with page=rm %}
            {% endifequal %}
        </div>
    </div>
</div>
{% endblock %}
