{% load blog_tags %}
{% load thumbnail %}
{% load static %}

<div id="ra-page">
    {% for access in ra %}
    <a href='{% url "blog:post_list" access.guest.id %}'>
        <div id="simgle">
             <div class="author-img">
                  {% if access.guest.profile.image %}
                       <img src="{{ access.guest.profile.image|thumbnail_url:'60x60'  }}">
                  {% else %}
                       <img src='{% static "blog/img/user_default.jpeg" %}'>
                  {% endif %}
             </div>
             <div class="author-nickname">
                 <p>{{ access.guest.profile.nickname | slice:"6" }}</p>
                 <span class="date">{{ access.access_time | date:"Y-m-d H:i" }}</span>
             </div>
        </div>
    </a>
    {% endfor %}
</div>