{% extends "blog/base.html" %}
{% load static %}

{% block addhead %}
        <link rel="stylesheet" type="text/css" href='{% static "blog/simditor/styles/simditor.css" %}' />
        <script type="text/javascript" src='{% static "blog/simditor/scripts/jquery.min.js" %}'></script>
        <script type="text/javascript" src='{% static "blog/simditor/scripts/module.js" %}'></script>
        <script type="text/javascript" src='{% static "blog/simditor/scripts/hotkeys.js" %}'></script>
        <script type="text/javascript" src='{% static "blog/simditor/scripts/uploader.js" %}'></script>
        <script type="text/javascript" src='{% static "blog/simditor/scripts/simditor.js" %}'></script>
        <script type="text/javascript" src='{% static "blog/simditor/scripts/init.js" %}'></script>
        <script type="text/javascript">
        $(document).bind('input propertychange', function(){
                $("#save-msg").html("未保存");
                $("#publish-btn").attr("disabled",false);
                $("#save-btn").attr("disabled",false);
           });
        </script>
{% endblock %}


{% block title %}写作-浮文掠影{% endblock %}

{% block bodyclass %}
    <body class="write-post">

{% endblock %}

{% block nav %}
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}

<form action="." method="post" id="write-form" >
    <select id="post_type" name="post_type">
      <option value="self" {% ifequal post.postclass.post_type "self" %}selected="selected"{% endifequal %}>原创</option>
      <option value="reprint" {% ifequal post.postclass.post_type "reprint" %}selected="selected"{% endifequal %}>转载</option>
    </select>
    {{ form.as_p }}
    {% csrf_token %}
    <input id="save-btn" type="submit" value="保存">
</form>

<input id="publish-btn" type="button" value="发布">
<input id="see-post" type="button" value="查看" {% ifequal post.status "draft" %}disabled="disabled"{% endifequal %} onclick="location.href='{{ post.get_absolute_url }}'">

<label id="save-msg"></label>
<a href="{% url 'blog:post_list' auth_user.id %}">
<div id="back-home">返回首页</div>
</a>
<a href="{% url 'blog:post_manage' %}">
<div id="back-mng">返回管理</div>
</a>
{% endblock %}
