/*
    DJANGO Admin styles
*/

@import url(fonts.css);
body {
    margin: 0;
    padding: 0;
    min-width:1050px;
    font-size: 14px;
    font-family: "Roboto","Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
    color: #333;
    background-color: #EEE9BF;
}

/*去除点击后虚线框*/

:focus {outline:none;} /*for IE*/
::-moz-focus-inner {border:none;} /*for mozilla*/

/* LINKS */

a:link, a:visited {
    color: #447e9b;
    text-decoration: none;
}

a:focus, a:hover {
    color: #036;
    outline: none; /* 不显示点击时的虚线框　*/
}

a:focus {
    text-decoration: none;
}

a img {
    border: none;
    outline: none;
}

a.section:link, a.section:visited {
    color: #fff;
    text-decoration: none;
}

a.section:focus, a.section:hover {
    text-decoration: underline;
}

/* GLOBAL DEFAULTS */

p, ol, ul, dl {
    margin: .2em 0 .8em 0;
}

p {
    padding: 0;
    line-height: 180%;
}


h1,h2,h3,h4,h5 {
    font-weight: bold;
}

h1 {
    font-weight: 500;
    font-size: 40px;
    color: #666;
}

h2 {
    font-size: 20px;
}


h2.simglelable {
    font-weight: bold;
    font-size: 15px;
    font-family:PMingLiU;
}

h3 {
    font-size: 14px;
    margin: .8em 0 .3em 0;
    color: #666;
    font-weight: bold;
}

h4 {
    font-size: 12px;
    margin: 1em 0 .8em 0;
    padding-bottom: 3px;
}

h5 {
    font-size: 10px;
    margin: 1.5em 0 .5em 0;
    color: #666;
    text-transform: uppercase;
    letter-spacing: 1px;
}

div.post-detail #post-body{
    font-size:16px;
}


form {
    margin: 0;
    padding: 0;
}

fieldset {
    margin: 0;
    padding: 0;
    border: none;
    border-top: 1px solid #eee;
}

blockquote {
    font-size: 11px;
    color: #777;
    margin-left: 2px;
    padding-left: 10px;
    border-left: 5px solid #ddd;
}

code, pre {
    padding: 10px 5px 10px 10px;
    display: block;
    line-height: 20px;
    background: #F0F0F0;
    border-radius: 3px;
    font-size: 14px;
    color:#212121;
    font-family: 'monaco', 'Consolas', "Liberation Mono", Courier, monospace;
}

pre.literal-block {
    margin: 10px;
    background: #eee;
    padding: 6px 8px;
}

code strong {
    color: #930;
}

hr {
    clear: both;
    color: #CDAA7D;
    background-color: #CDBA96;
    height: 1px;
    border: none;
    margin: 0;
    padding: 0;
    font-size: 2px;
    line-height: 1px;
}

/* TEXT STYLES & MODIFIERS */

p img, h1 img, h2 img, h3 img, h4 img, td img {
    vertical-align: middle;
}


/* TABLES */

table {
    border-collapse: collapse;
    border-color: #ccc;
}

td, th {
    font-size: 13px;
    line-height: 16px;
    border-bottom: 1px solid #eee;
    vertical-align: top;
    padding: 8px;
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
}

th {
    font-weight: 600;
    text-align: left;
}

thead th,
tfoot td {
    color: #666;
    padding: 5px 10px;
    font-size: 11px;
    background: #fff;
    border: none;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

tfoot td {
    border-bottom: none;
    border-top: 1px solid #eee;
}

/* SORTABLE TABLES */

thead th {
    padding: 5px 10px;
    line-height: normal;
    text-transform: uppercase;
    background: #f6f6f6;
}

thead th a:link, thead th a:visited {
    color: #666;
}

/* FORM DEFAULTS */

input, textarea, select, .form-row p, form .button {
    margin: 2px 0;
    padding: 2px 3px;
    vertical-align: middle;
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    font-weight: normal;
    font-size: 13px;
}

textarea {
    vertical-align: top;
}

input[type=text], input[type=password], input[type=email], input[type=url],
input[type=number], textarea, select, .vTextField {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px 6px;
    margin-top: 0;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus,
input[type=url]:focus, input[type=number]:focus, textarea:focus, select:focus,
.vTextField:focus {
    border-color: #999;
}

select {
    height: 30px;
}

select[multiple] {
    min-height: 150px;
}

/* FORM BUTTONS */

.button, input[type=submit], input[type=button], .submit-row input, a.button {
    background: #79aec8;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}

.login input[type=submit]{
    line-height:25px;
    font-size:20px;
    padding-left: 60px;
    padding-right: 45px;
    letter-spacing:15px;
    border-radius: 20px;
}

a.button {
    padding: 4px 5px;
}

.button:active, input[type=submit]:active, input[type=button]:active,
.button:focus, input[type=submit]:focus, input[type=button]:focus,
.button:hover, input[type=submit]:hover, input[type=button]:hover {
    background: #609ab6;
}

.button[disabled], input[type=submit][disabled], input[type=button][disabled] {
    opacity: 0.4;
}

.button.default, input[type=submit].default, .submit-row input.default {
    float: right;
    border: none;
    font-weight: 400;
    background: #417690;
}

.button.default:active, input[type=submit].default:active,
.button.default:focus, input[type=submit].default:focus,
.button.default:hover, input[type=submit].default:hover {
    background: #205067;
}

.button[disabled].default,
input[type=submit][disabled].default,
input[type=button][disabled].default {
    opacity: 0.4;
}

.description {
    font-size: 12px;
    padding: 5px 0 0 12px;
}

div.body{
    width:1020px;
    margin:65px auto;
}

/* HEADER */

#header {
    width:1020px;
    height:230px;
    margin:0px auto;
    padding-bottom:10px;
    overflow: hidden;
    border:0px solid;
    border-radius:12px;
    background: #BEBEBE;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#header #nickname{
    margin:45px;
}

#header #motto{
    margin:45px;
}

#header h1{
    font-family:PMingLiU;
    color:#8B4C39;
}

#header h2{
    font-family:PMingLiU;
    font-weight:500;
    color:#363636;

}



#header a{
    color: #5E5E5E;
    font-weight:bold;
    font-family:PMingLiU;
}

#header a:link,#header a:visited {
    color:#424242;
}

#header a:focus , #header a:hover {
    text-decoration: none;
    color: #8B2500
}

div.header-nav{
    height:35px;
}

div.header-nav ul
{
    list-style:none; /* 去掉ul前面的符号 */
    margin:0 0 0 5%;
    padding: 0px; /* 与内部元素的距离为0 */
    width: auto; /* 宽度根据元素内容调整 */

}


div.header-nav ul li
{
    border-style: none;
    float:left; /* 向左漂移，将竖排变为横排 */
    font-size: 16px;
    margin:0px 18px;
    padding: 0px; /* 与内部元素的距离为0 */
    width: auto; /* 宽度根据元素内容调整 */


}

div.header-nav ul li a
{

    display: block; /* 此元素将显示为块级元素，此元素前后会带有换行符 */
    line-height: 1.35em; /* 行高 */
    padding: 4px 10px; /* 内部填充的距离 */
    text-decoration: none;
    white-space: nowrap; /* 对于文本内的空白处，不会换行，文本会在在同一行上继续，直到遇到 <br> 标签为止。 */
}


.home-page #header .nav-w0,
.detail-page #header .nav-w1,
.share-page #header .nav-w1,
.music-page #header .nav-w2,
.picture-page #header .nav-w3,
.about-page #header .nav-w4
{
    text-decoration: none;
    color: #CD2626;
}


#tail{
    width:1020px;
    height:auto;
    overflow:hidden;
    min-height:1000px;
    margin:40px auto;
    border:0px solid;
}

#container{
    width:auto;
    height:auto;
    min-height: 1000px;
    overflow: hidden;
    padding-bottom: 80px;
}

.picture #container{
    min-height: 600px;
}

.picture #tail{
    min-height: 600px;
}

#content ,#pd-content, #pd-content {
    float:left;
    height:auto;
    width:700px;
    background-color:#EEE9BF;
    border-radius:12px;

}

#pd-content ,#ps-content {
    width:1020px;
}

#content p{
    color:#4F4F4F;
    font-family:Tahoma;
}


#music{
    width: 1020px;
    min-height: 400px;
    overflow:hidden;
    background: #FCFCFC;
    border-radius: 12px;
}

#music #skplayer
{
    float:left;
    width:310px;
    margin:5px;
    background-color:#F0F0F0;
    border:0px solid;
    border-color:#FFFAFA;
    border-radius:12px;
}

#audio
{
    margin-top:350px;
    margin-left:5px;
}

#picture-content
{
    height: auto;
    padding:30px;
    min-height:500px;
    background:#FCFCFC;
    border-radius:12px;
}

#img-thumb
{
    display:inline-block;
    width:236px;
    height:200px;
    border-radius:12px;
}

#img-thumb img{
    width: 100%;
    height:100%;
    border-radius:12px;
}

#dowebok
{
    padding:0px;
    list-style:none;
}

#dowebok li
{
    display:inline-block;
}


#sidebar {
    float:right;
    width:240px;
    padding:1.5em;
    color:#5C5C5C;
    background-color:#FAFAD2;
    border-radius:12px;
}

#sidebar a
{
    color:#262626;
}
#sidebar a:focus,#sidebar a:hover
{
    color:#458B74;
}


#sidebar #blogger{
    text-align:center;
    font-family:SimSun;
}

#sidebar #care{
    width:80px;
    height:25px;
    text-align:center;
    border:1px solid #EE7942;
    border-radius:10px;
}

#sidebar #care{background:#FFFFE0;}
#sidebar #care:focus,#sidebar #care:hover{background:#FFD39B;}

#sidebar #care p{
    color:#D2691E;
    font-weight:bold;
    line-height:18px;
}

div.column-bar
{
    position:fixed;
    width:50px;
    height:auto;
    right:50px;
    bottom:50px;
}

div.column-bar p
{
    font-size:16px;
    line-height:45px;
    text-align:center;
    color:#333333;
}

#back-top,
#collect,
#share,
#edit-post
{
    display:inline-block;
    width:50px;
    height:50px;
    border:1px solid #CDAA7D;
}


#back-top{
    display:none;
}


#pd #back-top,
#pd #collect,
#edit-post
{
    border-bottom:0px;
}


#back-top:focus,#back-top:hover,
#collect:focus,#collect:hover,
#share:focus,#share:hover,
#edit-post:focus,#edit-post:hover
{
    background:#FFFAFA;
}


#post-class #collection,#post-class #care-topic
{
    text-align:left;
}

#post-class p
{
    line-height:20px;
}


#before{
    width:15px;
    height:16px;
    margin:5px;
    display:inline-block;
}

#before img{
    width:100%;
    height:100%;
    }


div.introduce{
    margin-top:10px;
    margin-bottom:20px;
    color:#262626;
}

div.introduce p{
    color:gray;
}


#nav {
    width:100%;
    min-width:700px;
    height:50px;
    background:#FAFAFA;
    position:fixed;
    border:1px solid;
    border-color:#EED5D2;
    top:0;

}

#nav #logo{
    float:left;
    width:160px;
    height:40px;
    margin-top:5px;
    margin-left:10px;
}

#nav #write-btn{

    display:inline-block;
    margin:6px 0 0 70px;
    padding:6px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 16px;
    color:#0A0A0A;
    border-radius: 15px;
    background: #FFEC8B;
    border:1px solid #CDAA7D;
}


#nav #write-btn:focus,#nav #write-btn:hover{background:#EE9572;}

#nav img{

    width:100%;
    height:100%;
}


#nav #nav-user{
    float:right;
    height:50px;
    line-height:50px;
    overflow:hidden;
    margin-right:50px;
}

#nav-user #user-center{
    float:left;
    height:50px;
    line-height:47px;
    overflow:hidden;
    margin-right:30px;
}

#user-center div.author-img
{
    height:40px;
    width:40px;
    margin-right:20px;
}

#user-center a{
    margin-right:20px;
}


/*vertical-align:middle;*/

#nav-user #login,
#nav-user #logout,
#nav-user #register
{
    height:40px;
    line-height:40px;
    width:auto;
    padding-left:20px;
    padding-right:20px;
    font-size:15px;
    margin-top:5px;
    border-radius:15px;
    background: #FAFAFA;
    color:#104E8B;
}

#nav-user #register
{
    float:right;
    border:1px solid;
    border-color: #EE9572;
    background:#F0FFF0;
}



#nav-user #login
{
    float:left;
    margin-right:30px;
}

#nav-user #logout
{
    float:right;
}


#nav-user #logout:focus,#nav-user #logout:hover,
#nav-user #login:focus,#nav-user #login:hover
{
    background: #87CEFF;
    color:#2F4F4F;
}

#nav-user #register:focus,
#nav-user #register:hover
{
    background: #9AFF9A;
    color:#2F4F4F;
}


#nav #register:active,
#nav login:active,
#nav logout:active
{
    background: #6CA6CD;
    color:#2F4F4F;
}

#footer {
    clear: both;
    bottom:0px;
    padding:20px;
    background:#EEE9BF;
    text-align: center;

}

#footer div.page-tail{
    margin:0px auto;
}

#posts-page,#abouts-page{min-height:700px;}

div.post-list, div.post-detail, div.post-share {
    margin-bottom:30px;
    padding:1em;
    background-color:#FCFCFC;
    border-radius:8px;
}
div.post-detail,div.post-share{
    padding:90px;
    padding-top:1em;
    padding-bottom:1em;
}


div.post-list a,div.author-nickname a{
    color:#262626;
}


div.post-list a:focus,div.author-nickname a:focus,
div.post-list a:hover,div.author-nickname a:hover
{
    color:#458B74;
}

div.post-list h2, div.post-detail h2, div.post-share h2
{
    line-height:25px;
    color:#262626;
}

div.post-detail h1, div.post-share h1
{
    line-height:60px;
    color:#262626;
}

div.post-detail p.post-access-cm {
    font-weight: 500;
    font-size: 13px;
}

div.post-author
{
    height:45px;
}

div.post-detail div.post-author
{
    margin-bottom:0px;
}


div.post-detail #post-type{
    width:50px;
    margin-top:15px;
    margin-bottom:25px;
    padding:5px;
    background:#FFFFE0;
    border:1px solid #CDC673;
    border-radius:8px;
    text-align:center;
    color:gray;
}

.last-post{list-style:none;padding:0px;}

#post-collect {
float:right;}

div.author-img, div.author-nickname{
    display:inline-block;
    margin-right:10px;
    vertical-align:middle;
    width: 45px;
    height: 45px;
    border: 0px solid;
}

div.author-nickname
{
    height:auto;
    width:auto;
}

span.date
{
    font-size:13px;
    color:gray;
}

div.author-img img{
    background-size: 100%;
    width: 100%;
    height: 100%;
    border-radius:10px;
}


#empty-page{
    height:300px;
    text-align:center;
}

.pagination
{
    text-align:center;
}

#about-row .pagination{
    margin-top:20px;
}

.previous a,.next a{
    color:#FF4500;
}

div.comment-form{
    background-color:#FCFCFC;
    border-radius:8px;

    }

div.comment-author{margin-top:10px;}

div.comment-form textarea
{
    width:560px;
    height:150px;
    resize:none;
    overflow:scroll;
    overflow-x:hidden;
}

#cm-submit
{
    margin:0 auto;
    width:90px;
}

#cm-submit input[type="submit"]
{
    width:90px;
}


div.comment-form h2{
    margin:0px;
}

div.comment-form label{
    float:left;
    width:35px;
    text-align:left;
    padding:4px;
    margin:1px;
}


div.comment-form span{
    display:inline-block;
    word-break:break-all;
}


p.cm-info{
    font-weight: bold;
}

div.cm-body{
    padding: 10px;
    color:#8B3E2F;
}


div.comment-form .errorlist{color:red;}


div.owner-img{
    margin:0px auto;
    width: 240px;
    height: 240px;
    border: 0px solid;
    }

div.owner-img img {
    background-size: 100%;
    width: 100%;
    height: 100%;
    border-radius:20px;
}


div.pagination{
    margin:0 0 20px 0;
    font-size:16px;
}


.tags {
    margin: 5px 0 5px;
    font-weight: bold;
    font-size: 14px;
    color: #666;
}


div.post-share label{
    float:left;
    width:70px;
    text-align:left;
    padding:4px;
    margin:1px;
}



#tag-bar {
    height:auto;
    min-height:50px;
    margin-bottom:15px;
    background-color:#D1EEEE;
    font-size: 0;
}

#tag,#select-tag{
    line-height:25px;
    display:inline-block;
    padding-left:10px;
    padding-right:10px;
    background:#E0FFFF;
}

#tag-bar #select-tag
{
    background:#FFD39B;
}

#tag-bar h2{
    color:#CD6839;
    font-size:16px;
}

#tag-bar #tag:focus,
#tag-bar #tag:hover,
#tag-bar #select-tag:focus,
#tag-bar #select-tag:hover
{
    background:#FFF68F;
}

#tag-bar #tag:active,#tag-bar #select-tag:active
{
    background:#FFD39B;
}

div.select-tag
{
    background:#FFD39B;
}

#about{
    width:940px;
    height:auto;
    overflow:hidden;
    min-height:700px;
    padding:40px;
    padding-top:15px;
    background:#FCFCFC;
    border-radius:12px;
}

#about h2{
    line-height:0px;
}

#about #about-row h2
{
    line-height:20px;
}

#about h2,#about h3{
    color:gray;
}

#vbar {
    float:left;
    min-height:550px;
    margin-top:15px;
    background:#FCFCFC;
    text-align:center;
}

#time-info {
    margin-top:20px;
}


#recent-access,#recent-comment,#message,#personal,
#send-message,#care
{
    width:220px;
    padding:5px;
    line-height:0px;
    margin:5px auto;
    background:#CDC673;
    border-radius:5px;
}


#send-message,#care{
    width:100px;
    display:inline-block;
    margin-top:0px;
    background:#BCEE68;
}

#send-message:focus,#care:focus,
#send-message:hover,#care:hover
{
    background:#7CCD7C;
}

#personal{margin-top:10px;}


#ra-content #recent-access,
#rc-content #recent-comment,
#rm-content #message,
#ps-content #personal
{
    background:#FFA54F;
}


#recent-access:focus,#recent-comment:focus,#personal:focus,#message:focus,
#recent-access:hover,#recent-comment:hover,#personal:hover,#message:hover
{
    background:#FFA54F;
}


#about-row{
    float:right;
    width:650px;
    min-height:650px;
    text-align:left;
    color:#5E5E5E;
}

#about-row #lable{
    display:inline-block;
    float:left;
}

#about-row #text-area{
    display:inline-block;
    width:550px;
    height:auto;
    margin-bottom:10px;
    overflow:hidden;
}

#about span{
    display:inline-block;
    word-break:break-all;
}


#care-topic{
    margin-bottom:5px;
}

#care-topic #tag {
    padding:15px;
    border:1px solid #FFA54F;
    border-radius:10px;
    background:#FFFFF0;
}

#care-topic #tag:focus,#care-topic #tag:hover{background:#FFF68F;}

#care-topic h3{
    line-height:10px;
    margin:0px;
}

#ra-page #simgle,#rc-page #simgle{
    display:inline-block;
    width:auto;
    min-width:180px;
    padding:10px;
    margin:2px;
    background:#F2F2F2;
    border-radius:10px;
}

#ra-page #simgle:focus,
#ra-page #simgle:hover,
#rc-page #simgle:focus,
#rc-page #simgle:hover
{
    background:#F0E68C;
}

#ra-page p , #rc-page p{
    line-height:100%;
    color:#242424;
}

#ra-page div.author-img{width:55px;height:55px;}

#rc-page #simgle{
    width:600px;
}


/*write-post*/

.write-post #tail form
{
    width: 840px;
    margin: 0px auto;
}

.write-post #id_title
{
    padding:0.5em;
    width:815px;
    font-size:25px;
    font-weight:bold;
}


.write-post #publish-btn,.write-post #save-btn,.write-post #see-post
{
    position:fixed;
    width:80px;
    height:50px;
    top:80px;
    right:50px;
    font-size:18px;
}

.write-post #publish-btn{top:140px;}
.write-post #save-btn{top:200px;}

.write-post #save-msg,
.setting #save-msg{
    position:fixed;
    width:auto;
    height:30px;
    top:5px;
    right:5px;
    font-size:16px;
    color:#006400;
 }

.write-post #tail{
    background:#FCFCFC;
    padding-top:40px;
    padding-bottom:40px;
    border-radius:15px;
    margin:5px auto;
}

.write-post .body{
    margin-top:0px;
}

/*post-manage*/


#back-home{
    position:fixed;
    padding:15px;
    top:80px;
    left:10px;
    background:#EEDC82;
    border-radius:15px;
    border:1px solid #EE9A49;
    font-size:18px;
    text-align:center;
    color: #8B4C39;
}

#back-mng{
    position:fixed;
    padding:15px;
    top:160px;
    left:10px;
    background:#EEDC82;
    border-radius:15px;
    border:1px solid #EE9A49;
    font-size:18px;
    text-align:center;
    color: #8B4C39;
}

#notice{
    position:fixed;
    top:80px;
    right:30px;
    font-size:14px;

}

#notice #pb-color{background:#BCEE68;color:#BCEE68;}
#notice #dr-color{background:#CDC9A5;color:#CDC9A5;}


.post-mng h3{line-height:10px;font-size:18px;}

.post-mng #container{font-size:0;}

.post-mng #book-list,
.post-mng #tag-list,
.post-mng #post-list
{
    display:inline-block;
    height:800px;
    overflow:hidden;
    font-size:15px;
}


.post-mng #book-list
{
    background:#454545;
    width:250px;
}

.post-mng #tag-list
{
    background:#CDC9A5;
    width:250px;
}

.post-mng #post-list
{
    background:#EAEAEA;
    width:500px;
}


.post-mng #books,
.post-mng #tags,
.post-mng #posts
{
    display:inline-block;
    height:660px;
    width: 250px;
    overflow-y:auto;
    overflow-x:hidden;
}


.post-mng #blctn,
.post-mng #tlctn,
.post-mng #plctn
{
    width: auto;
    height: auto;
    min-height: 660px;
    overflow: hidden;
}

.post-mng #posts{width: 500px;}

.post-mng #new-book,
.post-mng #new-tag,
.post-mng #tag,
.post-mng #book
{
    display:inline-block;
    height:30px;
    width:218px;
    padding:10px;
    line-height:25px;
    margin-bottom:1px;
    margin-left:5px;
    text-align:left;
    border-radius:10px;

}

.post-mng #new-post,
.post-mng #post
{
    display:inline-block;
    height:110px;
    width:468px;
    padding:10px;
    line-height:25px;
    margin-bottom:2px;
    margin-left:5px;
    text-align:left;
    border-radius:10px;
    overflow:hidden;
}


.post-mng #book
{
    background:#8B814C;
    color:#FFFFFF;
}

.post-mng #tag
{
    background:#F5FFFA;
}

.post-mng #post
{
    background:#CDC9A5;
}

.post-mng .published
{
    background:#BCEE68 !important;
}

.post-mng #new-book,
.post-mng #new-tag,
.post-mng #new-post
{
    background:#FFFFFF;
    margin:5px;
    line-height: 0px;
    color:gray;
    text-align:center;

}


.post-mng #new-post
{
    height:30px;
    font-size:20px;
}

.post-mng #book-label,
.post-mng #tag-label
{
    display:inline-block;
    width:250px;
    text-align:left;
    font-size:16px;
    background:#F7F7F7;
}

.post-mng #post-label
{
    display:inline-block;
    width:500px;
    text-align:left;
    font-size:16px;
    background:#F7F7F7;
}

.post-mng #new-book-form,
.post-mng #new-tag-form
{
    display:inline-block;
    height:70px;
    width:230px;
    padding:5px;
    margin-bottom:5px;
    margin-left:5px;
    text-align:center;
    background:#515151;
}

.post-mng #new-tag-form
{
    background:#9E9E9E;
}

.post-mng a{color:#8B4C39;}

#back-home:hover,
#back-home:focus,
#back-mng:hover,
#back-mng:focus
{
    background:#EEE685;
}

.post-mng #book:focus,
.post-mng #book:hover
{
    background:#8E8E38 !important;
}

.post-mng #tag:focus,
.post-mng #tag:hover
{
    background:#F0E68C !important;
}

.post-mng #post:focus,
.post-mng #post:hover
{
    background:#FFFFFF !important;
}

.post-mng .select-book
{
    background:#8E8E38 !important;
}

.post-mng .select-tag
{
    background:#F0E68C !important;
}

.post-mng input[type="text"]
{
    border-radius:10px;
}

.post-mng input[type="submit"]
{
    border-radius:15px;
    font-size:16px;
    line-height:10px;
    padding: 10px 25px 10px 25px;
}

#nbf p,#ntf p{
    margin-bottom:2px;
}

/*center setting */

.center .setting
{
    float:top;
    width:800px;
    height:auto;
    min-height:800px;
    margin:0px auto;
    border-radius:12px;
    background:#EEE9BF;
}

.center .user-image,
.center .bg-image,
.center .basic,
.center .person-msg,
.center .contact
{
    width:760px;
    height:auto;
    min-height:100px;
    padding:10px 20px 10px 20px;
    margin-bottom:10px;
    border-radius:12px;
    background:#F5F5F5;
}

.setting h3{
    color:gray;
    line-height:0px;
    font-size:15px;
    margin-bottom: 20px;
}

.setting #save-setting
{
    position:fixed;
    top:130px;
    right:80px;
    width:90px;
    height:50px;
    background:#A2CD5A;
    font-size:15px;
    color:#FFFFFF;
}

.setting #save-setting:focus,
.setting #save-setting:hover
{
    background:#9ACD32;
}


.setting #save-msg{top:55px;}

.user-image div.owner-img{
    margin:10px 0px 10px 20px;
    width: 200px;
    height: 200px;
  }


.bg-image div.owner-img{
    margin:10px 0px 10px 20px;
    width: 510px;
    height: 120px;
}

.setting td {
    text-align:center;
    vertical-align:middle;
}

.setting #id_image,
.setting #id_bgimg
{
    position: absolute;
    margin-left: 50px;
    padding: 0px;
    opacity: 0;
    width: 90px;
    display: block !important;
}

.image-btn div,
.bgimg-btn div
{
    width:90px;
    height:35px;
    margin-left:50px;
    border-radius:10px;
    background:#FFF68F;
    line-height:35px;
    border:1px solid #FFA54F;
    color:#3B3B3B;
}

.user-image label,
.bg-image label{
    position: absolute;
    display: block !important;
    opacity: 0;
}

#save-status
{
    position:fixed;
    top:50px;
    left:45%;
    width:200px;
    height:50px;
    line-height:50px;
    font-size:16px;
    color:#8B8B00;
    border:1px solid #CD9B1D;
    background:#EBEBEB;
    text-align:center;
}

.setting label{
    float: left;
    width: 50px;
    margin: 5px 0 0 30px;
}

.setting input[type="text"],
.setting input[type="email"],
.setting textarea
{
    background:#EAEAEA;
}