{% extends "blog/base.html" %}
{% load blog_tags %}
{% load thumbnail %}
{% load static %}

{% block addhead %}
        <link href= '{% static "blog/css/viewer.min.css" %}' rel="stylesheet" type="text/css">
        <script type="text/javascript" src='{% static "blog/js/viewer.min.js" %}'></script>
{% endblock %}
{% block title %}{{ user.profile.nickname }} 相册-浮文掠影{% endblock %}

{% block header %}
<div class="picture-page">
    {% include "blog/header.html" %}
</div>
{% endblock %}

{% block bodyclass %}
    <body class="picture" onload="init_viewer()">
{% endblock %}


{% block content %}
<div id="picture-content">
    <ul id="dowebok">
        {% for p in pictures %}
            <li>
                <div id="img-thumb">
                    <img data-original="{{ p.picture.url }}" src="{{ p.picture|thumbnail_url:'120x120'  }}" alt="图片{{ forloop.counter }}">
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}





