{% load blog_tags %}
{% load static %}
<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Cache-Control" content="no-transform" />
        <meta http-equiv="Cache-Control" content="no-siteapp" />
        <link rel="icon" href='{% static "blog/img/icon-title.ico" %}' type="image/x-icon"/>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta http-equiv=”X-UA-Compatible” content="IE=edge,chrome=1"/>
        <title>{% ifequal type "reset" %}密码重置{% else %}修改密码{% endifequal %}-浮文掠影</title>
        <link href= '{% static "blog/css/login.css" %}' rel="stylesheet">
        <link href= '{% static "blog/css/base.css" %}' rel="stylesheet">
    </head>
    <body class="verify">
        <div id="content">
            <div id="text">
                <a id="tohome" href='{% url "blog:post_list" 1 %}'>浮文掠影</a>
            </div>
            <div id="reset">
                {% if form %}
                <div id="forget-form">
                    <div id="form-desc">
                        <p>{% ifequal type "reset" %}密码重置{% else %}修改密码{% endifequal %}</p>
                    </div>
                    <div id="form-row">
                        <form action="." method="post">
                            {{ form.as_p }}
                            {% csrf_token %}
                            <p><input id="get-password" type="submit" value="提交"></p>
                        </form>
                    </div>
                </div>
                {% else %}
                    <div id="success-reset">
                    <p>{% ifequal type "reset" %}成功重置密码{% else %}成功修改密码{% endifequal %}</p>
                    </div>
                {% endif %}
            </div>
        </div>
        {% include "blog/footer.html" %}
    </body>
</html>