{% load static %}
{% load thumbnail %}
<div class="post-author">
     <div class="author-img">
          <a href='{% url "blog:post_list" post.author.id %}'>
          {% if post.author.profile.image %}
               <img src="{{ post.author.profile.image|thumbnail_url:'60x60'  }}">
          {% else %}
               <img src='{% static "blog/img/user_default.jpeg" %}'>
          {% endif %}
          </a>
     </div>
     <div class="author-nickname">
          <a href='{% url "blog:post_list" post.author.id %}'>
          {{ post.author.profile.nickname }}　
          </a>
          <span class="date">{{ post.publish | date:"Y-m-d H:i" }}</span>
     </div>
</div>