<div class="comment-form">

    {% for comment in comments %}
    <div class="comment">
        <p class="cm-info">
            {{ comment.name }} &nbsp;
            <span id="cm-time">{{ comment.created | date:"Y-m-d H:i:s" }} - {{ forloop.counter }}楼</span>

        </p>
        <span id="cm-body">{{ comment.body|linebreaks }}</span>
    </div>
    {% empty %}
    <p>暂无评论.</p>
    {% endfor %}

    {% if new_comment %}
    <h3>成功发表评论</h3>
    {% else %}
    <hr/>
    <h3>发表评论</h3>
    <form action="." onsubmit="return validate_form(this);" method="post" >
        {{ comment_form.as_p }}
        {% csrf_token %}
        <div id="cm-submit"><input type="submit" value="提交"></div>
    </form>
    {% endif %}
</div>