{% load static %}
<div class="comment-form">

    {% for comment in comments %}
    <div class="comment-author">
         <div class="author-img">
              <a href='{% url "blog:post_list" comment.user.id %}'>
              {% if comment.user.profile.image %}
                   <img src="{{ MEDIA_URL }}{{ comment.user.profile.image }}">
              {% else %}
                   <img src='{% static "blog/img/user_default.jpeg" %}'>
              {% endif %}
              </a>
         </div>
         <div class="author-nickname">
              <a href='{% url "blog:post_list" comment.user.id %}'>
              {{ comment.user.profile.nickname }}　
              </a>
              <span class="date">{{ comment.created | date:"Y-m-d H:i:s" }}- {{ comment.floor }}楼</span>
         </div>

    </div>
    <div class="cm-body">
        <span id="cm-body">{{ comment.body|linebreaks }}</span>
    </div>

    {% empty %}
    <p>暂无评论.</p>
    {% endfor %}

    {% if new_comment %}
    <h3 id="come-here" name="come-here">成功发表评论</h3>
    <script  type="text/javascript">
        window.onload=function(){
        location.hash='#come-here';}
    </script>
    {% endif %}
    <hr/>
    <h3>发表评论</h3>
    {% if not auth_user.is_authenticated %}
    <a href="{% url 'blog:user_login' %}">>>请登录</a>
    {% endif %}
    <form action="." onsubmit="return validate_form(this);" method="post" >
        {{ comment_form.as_p }}
        {% csrf_token %}
        {% if not auth_user.is_authenticated %}
        <div id="cm-submit"><input type="submit" value="提交" disabled="true"></div>
        {% else %}
        <div id="cm-submit"><input type="submit" value="提交"></div>
        {% endif %}
    </form>

</div>