{% extends "blog/post/base.html" %}
{% load blog_tags %}
{% load static %}
{% block title %}{{ post.title }}-浮文掠影{% endblock %}

{% block header %}
<div class="detail-page">
    {% include "blog/header.html" %}
</div>
{% endblock %}

{% block bodyclass %}
    <body onload="add_pv({{ post.id }})">
{% endblock %}

{% block content %}
<div id="pd-content">
    <div class="post-detail">
        <h1>{{ post.title }}</h1>
        {% include "blog/post/author.html" %}
        <div id="post-type">
            {% if post.postclass.get_post_type_display %}
            {{ post.postclass.get_post_type_display }}
            {% else %}
            --
            {% endif %}
        </div>
        <div id="post-body">
            {% autoescape off %}
            {{ post.body|linebreaks }}
            {% endautoescape %}
        </div>
        <br/>

        {% with comments.count as total_comments %}
            <p class="post-access-cm">
                {% get_accesstimes post as accesstimes %}
                阅读({{ accesstimes }}) | 评论({{ total_comments }})
            </p>
        {% endwith %}

        <hr/>
        <h2>类似文章</h2>
        {% for post in similar_posts %}
            <p>
                <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
            </p>
            {% empty %}
            暂无类似文章
            <br/>
            <br/>
        {% endfor %}

        <h2 class="simglelable">评论</h2>
        {% include "blog/post/comment.html" %}
    </div>
</div>
{% endblock %}

{% block sidebar %}

{% endblock %}

{% block column-bar %}
    <div class="column-bar" id="pd">
        <a href="javascript:void(0)"><div id="back-top" title="回到顶部">
            <img src="{% static "blog/img/tp.png" %}">
        </div></a>
        {% if auth_user.is_authenticated %}
            {% ifequal auth_user user %}
            <a href='{% url "blog:edit_post" post.id %}' target="_blank"><div id="edit-post" title="编辑文章">
                <img src="{% static "blog/img/ed.png" %}">
            </div></a>
            {% else %}
            <a href=""><div id="collect" title="收藏文章"><img src="{% static "blog/img/cl.png" %}"></div></a>
            {% endifequal %}
        {% else %}
           <a href=""><div id="collect" title="收藏文章"><img src="{% static "blog/img/cl.png" %}"></div></a>
        {% endif %}
        <a href="{% url "blog:post_share" post.id %}"><div id="share" title="分享文章"><img src="{% static "blog/img/sh.png" %}"></div></a>
    </div>
{% endblock %}