{% extends "blog/post/base.html" %}
{% load static %}
{% block title %}{{ post.title }}-浮文掠影{% endblock %}

{% block header %}
<div class="detail-page">
    {% include "blog/header.html" %}
</div>
{% endblock %}

{% block content %}
<div id="content">
    <div class="post-detail">
        <h1>{{ post.title }}</h1>

        {% include "blog/post/author.html" %}

        <div id="post-body">
            {% autoescape on %}
            {{ post.body|linebreaks }}
            {% endautoescape %}
        </div>
        <br/>

        {% with comments.count as total_comments %}
            <p class="post-access-cm">
                <!--{{ total_comments }} Comment{{ total_comments|pluralize }}-->
                阅读({{ post.accesstimes }}) | 评论({{ total_comments }})
            </p>
        {% endwith %}

        <p>
            <a href="{% url "blog:post_share" post.id %}">
            分享此文
            </a>
        </p>
        <hr/>
        <h2>类似文章</h2>
        {% for post in similar_posts %}
            <p>
                <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
            </p>
            {% empty %}
            暂无类似文章
            <br/>
            <br/>
        {% endfor %}

        <hr/>

        <h2 class="simglelable">评论</h2>
        {% include "blog/post/comment.html" %}
    </div>
</div>
{% endblock %}