{% extends "blog/post/base.html" %}
{% load static %}
{% block title %}{{ post.title }}-浮文掠影{% endblock %}

{% block header %}
<div class="detail-page">
    {% include "blog/header.html" %}
</div>
{% endblock %}

{% block content %}
<div id="pd-content">
    <div class="post-detail">
        <h1>{{ post.title }}</h1>
        {% include "blog/post/author.html" %}
        <div id="post-type">
            {% if post.postclass.get_post_type_display %}
            {{ post.postclass.get_post_type_display }}
            {% else %}
            --
            {% endif %}
        </div>
        <div id="post-body">
            {% autoescape off %}
            {{ post.body|linebreaks }}
            {% endautoescape %}
        </div>
        <br/>

        {% with comments.count as total_comments %}
            <p class="post-access-cm">
                <!--{{ total_comments }} Comment{{ total_comments|pluralize }}-->
                阅读({{ post.accesstimes }}) | 评论({{ total_comments }})
            </p>
        {% endwith %}

        <p>
            <a href="{% url "blog:post_share" post.id %}">
            分享此文
            </a>
        </p>
        <hr/>
        <h2>类似文章</h2>
        {% for post in similar_posts %}
            <p>
                <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
            </p>
            {% empty %}
            暂无类似文章
            <br/>
            <br/>
        {% endfor %}

        <h2 class="simglelable">评论</h2>
        {% include "blog/post/comment.html" %}
    </div>
</div>
{% endblock %}

{% block sidebar %}

{% endblock %}

{% block column-bar %}
    <div class="column-bar" id="pd">
        <a href="javascript:void(0)"><div id="back-top" title="回到顶部"><p>顶部</p></div></a>
        {% if auth_user.is_authenticated %}
            <a href='{% url "blog:edit_post" post.id %}' target="_blank"><div id="edit-post" title="编辑文章"><p>编辑</p></div></a>
        {% else %}
           <a href=""><div id="collect" title="收藏文章"><p>收藏</p></div></a>
        {% endif %}
        <a href="{% url "blog:post_share" post.id %}"><div id="share" title="分享文章"><p>分享</p></div></a>
    </div>
{% endblock %}