{% extends "blog/post/base.html" %}
{% load blog_tags %}
{% load static %}

{% block title %}
    {% if tag %}
        {{ user.profile.nickname }} {{ tag.name }}-专题-浮文掠影
    {% else %}
        {{ user.profile.nickname }}-浮文掠影
    {% endif %}
{% endblock %}

{% block header %}
<div class="home-page">
    {% include "blog/header.html"　%}
</div>
{% endblock %}

{% block content %}
<div id="content">
    <div id="posts-page">
    {% if tags or tag %}
        {% include "blog/post/tags.html" %}
    {% endif %}
    {% if posts %}
        {% for post in posts %}
        <div class="post-list">
            {% include "blog/post/author.html" %}
            <h2 class="posttitle">
                <a href="{{ post.get_absolute_url }}">
                {{ post.title }}
                </a>
            </h2>
            <hr/>
            <p class="post_body">
                {% get_text post.body as body %}
                {% autoescape on %}
                {{ body | slice:"100" | linebreaks}}...
                {% endautoescape %}
            </p>
            <p class="tags">
                标签:
                {% for tag in post.tags.all %}
                    <a href="{% url "blog:post_list_by_tag" user.id tag.name %}">
                    {{ tag.name }}
                    </a>
                    {% if not forloop.last %}, {% endif %}
                {% endfor %}
                &nbsp;&nbsp;阅读({{ post.accesstimes }})
                {% get_comments_count post as total_comments %}
                &nbsp;&nbsp;评论({{ total_comments }})
            </p>
        </div>
        {% endfor %}
    {% else %}
        <div class="post-list" id="empty-page">
            <h1>空空如也</h1>
        </div>
    {% endif %}
    </div>
    <!--include　里的变量名称如果跟外面的一样　就不用with 否则就要传递一下-->
    {% include "blog/post/pagination.html" with page=posts %}
</div>

{% endblock %}

