{% load blog_tags %}
<div class="pagination">
        <ul class="pages">
        {% get_pagination page as p %}
        {% if p.page.has_previous %}
            <li class="previous"><a href="?page={{ p.page.previous_page_number }}"><</a></li>
        {% else %}
            {% if p.page.has_next %}
            <li class="previous"><a href="javascript:void(0)"><</a></li>
            {% endif %}
        {% endif %}

        {% if p.page.has_previous or p.page.has_next %}
        {% for i in p.part_one %}
        <li {% ifequal i p.page.number %}class="current"{% endifequal %}>
            <a href="?page={{ i }}">{{ i }}</a></li>
        {% endfor %}

        {% if p.part_three %}
        <li>{{ p.part_two }}</li>
        {% endif %}

        {% for i in p.part_three %}
        <li {% ifequal i p.page.number %}class="current"{% endifequal %}>
            <a href="?page={{ i }}">{{ i }}</a></li>
        {% endfor %}

        {% if p.part_five %}
        <li>{{ p.part_four }}</li>
        {% endif %}

        {% for i in p.part_five %}
        <li {% ifequal i p.page.number %}class="current"{% endifequal %}>
            <a href="?page={{ i }}">{{ i }}</a></li>
        {% endfor %}
        {% endif %}

        {% if p.page.has_next %}
            <li class="next"><a href="?page={{ p.page.next_page_number }}">></a></li>
        {% else %}
            {% if p.page.has_previous %}
            <li class="next"><a href="javascript:void(0)">></a></li>
            {% endif %}
        {% endif %}
        </ul>
</div>