{% if user.profile.bgimg %}
<div id="header" style="background-image:url({{ MEDIA_URL }}{{ user.profile.bgimg }})">
{% else %}
<div id="header">
{% endif %}
    <div id="nickname"><h1>{{ user.profile.nickname }}</h1></div>
    <div id="motto"><h2>{{ user.profile.motto }}</h2></div>
    <div class="header-nav">
        <div class="row">
            <ul class="nav-ul">
                <li><a class="nav-w0" href="{% url "blog:post_list" user.id %}">首页</a></li>
                <li><a class="nav-w1" href="{% url "blog:log" user.id %}">日志</a></li>
                {% if auth_user.is_authenticated %}
                <li><a class="nav-w2" href="{% url "blog:music" user.id %}">听听</a></li>
                {% endif %}
                <li><a class="nav-w3" href="{% url "blog:picture" user.id %}">图片</a></li>
                <li><a class="nav-w4" href="{% url "blog:about" user.id "ps" %}">关于</a></li>
            </ul>
        </div>
    </div>
</div>
