{% load static %}
<div id="nav">
    <div id="logo">
        <!--未鉴权的个人首页暂时充当网站首页-->
        <a href='{% url "blog:post_list" user.id %}'>
        <img src='{% static "blog/img/logo.png"%}'>
        </a>
    </div>
    <div id="nav-user">
    {% if auth_user.is_authenticated %}
        <div id="user-center">
         <div class="author-img">
              <a id="user" href='{% url "blog:post_list" auth_user.id %}'>
              {% if auth_user.profile.image %}
                   <img src="{{ MEDIA_URL }}{{ auth_user.profile.image }}">
              {% else %}
                   <img src='{% static "blog/img/user_default.jpeg" %}'>
              {% endif %}
              </a>
         </div>
            <!--个人首页暂时充当个人中心，后续添加-->
            <a id="center" href='{% url "blog:post_list" auth_user.id %}'>
            个人中心
            </a>
        </div>

        <a href="{% url 'blog:user_logout' %}">
            <div id="logout">退出</div>
        </a>

    {% else %}

        <a href="{% url 'blog:user_login' %}">
            <div id="login">你好,请登录</div>
        </a>

        <a href="{% url 'blog:user_register' %}">
            <div id="register">注册</div>
        </a>

    {% endif %}
    </div>
</div>